<section class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Friendliness API</h1>
        <p class="lead">Want to join all the developers developing apps using the Friendliness API? It's easy!</p>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <p>Simply make calls to retrieve data about our friends by using the endpoint /api/friends. To get info on a
                    specific friend, use the end point /api/friends/id. </p>
                <a class="btn btn-primary btn-lg" href="/" role="button">Return to Friendliness</a>
            </div>
</section>