html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    padding: .25em;
    margin-bottom: .5em;
}

section {
    flex: 1 0 auto;
}

#carouselWithIndicators{
    max-width: 300px;
}

.question {
    font-size: 1.25em;
}

.form-group {
    margin-bottom: 1.5em;
}

.radios {
    text-align: center;
}

#submit {
    display:block;
    min-width: 50%;
    margin: 1em auto;
}

footer {
    flex-shrink: 0;
    text-align: center;
    padding: .25em;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin: 0;
    padding: 0;
    display: inline;
}

footer ul li:after {
    content: " | ";
}

footer ul li:last-child:after {
    content: "";
}

.resultPhoto {
    width:150px;
}


